.khoisanpham{
    width: 100%;
    height: 100%;
}

.khoisanpham img{
    width: 100%;
    height: 100%;
}
.giasp{
    float :right;
}
.total{
    position: relative;
    cursor: pointer;
}
.total >div{
    position: absolute;
    top: -9px;
    left: 17px;
    color: red;
    background: wheat;
    border: 50%;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}